<h1>Uploads#new</h1>

<h2>Create Upload</h2>

<%= form_for :upload, url: uploads_path do |f| %>

    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>

    <p>TODO: ADD TAGS & IMAGE UPLOAD HERE</p>

    <div>
        <%= f.submit("Upload")%>
    </div>
<%end%>